:root{
     --warna-text : #f6f6f6;
     --warna-ungu : #6E49EA;
}

@font-face {
    font-family: quicksand;
    src: url(assets/quicksand-v30-latin-regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: quicksand, sans-serif;
}

nav{
    border: 3px solid #6E49EA;
    border-left: none;
    border-right: none;
    height: 60px;
    background-color: #303330;
    position: sticky;
    top: 0;
    text-align: center;
}

.bar{
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    
}

.left{
    float: left;
}

.right{
    float: right;
}

.center{
    margin-left: -150px;
}

a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

a:hover{
    background-color: #6E49EA;
    transition: 0.5s;
}

/* hero */
.hero{
    text-align: center;
    width: 45%;
    margin: 30px auto;
}

h1{
    margin-bottom: 10px;
}

h5{
    line-height: 25px;
}

/* main */
main{
    margin-top: 25px;
    height: fit-content;
    background-color: var(--warna-text);
}

.sr h4{
    margin: 15px auto;
    border-bottom: 3px solid #6E49EA;
    max-width: 214px;
    text-align: center;

}

h4{
    font-weight: bolder;
    font-size: 23px;
}

.row{
    width: 100%;
    display: flex;
    margin: 10px 0;

}

.row img {
    border: 3px solid #303330;
    width: 47%;
    margin: 0 5px;
}

.jumbo{
    margin: 5px 0;
    float: right;
    width: 54.5%;
    }

.jumbo img{
    border: 3px solid #303330;
    width: 100%;
}

.in{
    display: inline-block;
    width: 45%;
}

.slide{
    padding: 0 4%;
}

/* article */
.content{
    padding: 58px;
    background-color: #212429;
}

.content article {
    color: white;
    margin: 48px;
    max-width: 25%;
    display: inline-block;
    
}